@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body{
	font-family: 'Inter', sans-serif;
	font-size:13px;
}
 #wrapper {
	 min-height:100vh;
    overflow-x: hidden;
 }
 .color-blue{
	 background-color:#1D3557;
 }
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
@media (max-width: 768px) {
	.no-marpad{
		display:none;
	}
	  }

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
/****** BOOTSTRAP RE-WRITE */
.list-group-item {
	border:none;
	font-size:1.2em;
	}
.list-group-item:hover{
	background-color:#9FA2B4;
}
	.primary {
	    color: #333333;
		    font-weight: bold;
			font-size:1em;
	    background-color: #E3B059;
	    border-color: #E3B059;
	}
	.btn-primary:hover {
	    color: #ffffff;
		    font-weight: bold;
	    background-color: #1D3557;
	    border-color: #1D3557;
	}

	.list-group-item.active {
	    z-index: 2;
	    color: #fff;
	    background-color: #9FA2B4;
	    border-color: #9FA2B4;
	}
.list-group-item i{
	margin-right:5px;
}

.fa-user{
	color: #E3B059;
}
.fa-sun{
	color: #ffffff;
}
.logo{
	width:50px;
}
.no-marpad {
	padding-right:0px;
}

.login{
    margin-top: 3px;
    margin-bottom: 9px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    background-color: transparent;
    background-clip: padding-box;
	border:none;
    border-bottom:3px solid #2C2F3D;
	border-radius:0px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: none;
}

.form-control:focus {
  color: #495057;
  background-color: transparent;
	border:none;
  border-bottom:3px solid #80bdff;
  border-color: ;
  outline: 0;
  box-shadow: none;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
}
.total-width{
	width:100%;
}
label{
	font-weight:bold;
	font-size:1em;
}

.btn-link {
    font-weight: bold;
    color: #1D3557;
    text-decoration: underline;
				font-size:1em;

}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}
#login{
	padding:20px;

}


.error{
	border:3px solid #D01A11;
}

.warning{
	border:3px solid #D68700;
}
	.success{
		border:3px solid #6F8F56;
	}
	@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

	body{
		font-family: 'Inter', sans-serif;
		font-size:13px;
	}
	 #wrapper {
		 min-height:100vh;
	    overflow-x: hidden;
	 }
	 .color-blue{
		 background-color:#1D3557;
	 }
	 .h2, h2 {
	     font-size: 1.8em;
		 text-align:center;
	 }
	 .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
	     width: 100%;
	     padding-right: 30PX;
	     padding-left: 30PX;
	     margin-right: auto;
	     margin-left: auto;
	 }
	#sidebar-wrapper {
	  min-height: 100vh;
	  margin-left: -15rem;
	  -webkit-transition: margin .25s ease-out;
	  -moz-transition: margin .25s ease-out;
	  -o-transition: margin .25s ease-out;
	  transition: margin .25s ease-out;
	}

	#sidebar-wrapper .sidebar-heading {
	  padding: 0.875rem 1.25rem;
	  font-size: 1.2rem;
	}

	#sidebar-wrapper .list-group {
	  width: 15rem;
	}

	#page-content-wrapper {
	  min-width: 100vw;
	}

	#wrapper.toggled #sidebar-wrapper {
	  margin-left: 0;
	}
	@media (max-width: 768px) {
		.no-marpad{
			display:none;
		}
		  }

	@media (min-width: 768px) {
	  #sidebar-wrapper {
	    margin-left: 0;
	  }

	  #page-content-wrapper {
	    min-width: 0;
	    width: 100%;
	  }

	  #wrapper.toggled #sidebar-wrapper {
	    margin-left: -15rem;
	  }
	}
	/****** BOOTSTRAP RE-WRITE */
	.list-group-item {
		border:none;
		font-size:1.2em;
		}
	.list-group-item:hover{
		background-color:#9FA2B4;
	}
		.btn-primary {
		    color: #333333;
			    font-weight: bold;
				font-size:1em;
		    background-color: #E3B059;
		    border-color: #E3B059;
		}
		.btn-primary:hover {
		    color: #ffffff;
			    font-weight: bold;
		    background-color: #1D3557;
		    border-color: #1D3557;
		}
	
		.list-group-item.active {
		    z-index: 2;
		    color: #fff;
		    background-color: #9FA2B4;
		    border-color: #9FA2B4;
		}
	.list-group-item i{
		margin-right:5px;
	}

	.fa-user{
		color: #E3B059;
	}
	.fa-sun{
		color: #ffffff;
	}
	.logo{
		width:50px;
	}	
	.no-marpad {
		padding-right:0px;
	}

	.login{
	    margin-top: 3px;
	    margin-bottom: 9px;
	}
	.form-control {
	    display: block;
	    width: 100%;
	    height: calc(1.5em + .75rem + 2px);
	    padding: .375rem .75rem;
	    font-size: 1em;
	    font-weight: 400;
	    line-height: 1.5;
	    color: #333333;
	    background-color: transparent;
	    background-clip: padding-box;
		border:none;
	    border-bottom:3px solid #2C2F3D;
		border-radius:0px;
	    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}

	.form-control:-moz-focusring {
	  color: transparent;
	  text-shadow: none;
	}

	.form-control:focus {
	  color: #495057;
	  background-color: transparent;
		border:none;
	  border-bottom:3px solid #80bdff;
	  border-color: ;
	  outline: 0;
	  box-shadow: none;
	}

	.img-fluid {
	    max-width: 100%;
	    height: 100%;
	}
	.total-width{
		width:100%;
	}
	label{
		font-weight:bold;
		font-size:1em;
	}

	.btn-link {
	    font-weight: bold;
	    color: #1D3557;
	    text-decoration: underline;
					font-size:1em;
				
	}

	.btn-link:hover {
	  color: #0056b3;
	  text-decoration: underline;
	}

	.btn-link:focus, .btn-link.focus {
	  text-decoration: underline;
	}

	.btn-link:disabled, .btn-link.disabled {
	  color: #6c757d;
	  pointer-events: none;
	}
	#login{
		padding:20px;
	
	}

	.card-title{
		font-size:16px;
		 margin-bottom: 0rem;
		font-weight:bold;
	}

	.error{
		border:3px solid #D01A11;
		    min-height: 84px;
	}
	.warning-icon{
		margin-right:5px;
		color:#D68700;
		float:left;
	}
	.success-icon{
		margin-right:5px;
		color:#6F8F56;
		float:left;
	}
	.error-icon{
		margin-right:5px;
		color:#D01A11;
		float:left;
	}
	.warning{
		border:3px solid #D68700;
	    min-height: 84px;
	}
		.success{
			border:3px solid #6F8F56;
			    min-height: 84px;
		}	
		.loading-overlay {
		  display: none;
		  background: rgba(255, 255, 255, 0.7);
		  position: fixed;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  top: 0;
		  z-index: 9998;
		  align-items: center;
		  justify-content: center;
		}

		.loading-overlay.is-active {
		  display: flex;
		}

		.code {
		  font-family: monospace;
		/*   font-size: .9em; */
		  color: #dd4a68;
		  background-color: rgb(238, 238, 238);
		  padding: 0 3px;
		} 
	
		.source-icon{
			margin-bottom:4px;
			color:#282B39;
		}
		.source .card-title{
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			text-align:center;
		}
		.source{
			text-align:center;
			background: #E9E9EA;
			border: 1px solid rgba(40, 43, 57, 0.3);
			box-sizing: border-box;
			border-radius: 10px;
		}
	

		@media (max-width: 575.98px) { 
			table {
			    border: 0;
			  }

			  table caption {
			    font-size: 1.3em;
			  }
  
			  table thead {
			    border: none;
			    clip: rect(0 0 0 0);
			    height: 1px;
			    margin: -1px;
			    overflow: hidden;
			    padding: 0;
			    position: absolute;
			    width: 1px;
			  }
  
			  table tr {
			    border-bottom: 3px solid #ddd;
			    display: block;
			    margin-bottom: .625em;
			  }
  
			  table td {
			    border-bottom: 1px solid #ddd;
			    display: block;
			    font-size: .8em;
			    text-align: right;
			  }
  
			  table td::before {
			    /*
			    * aria-label has no advantage, it won't be read inside a table
			    content: attr(aria-label);
			    */
			    content: attr(data-label);
			    float: left;
			    font-weight: bold;
			    text-transform: uppercase;
			  }
			  td.text-center{
			  	text-align:right !important;
			  }
			  table td:last-child {
			    border-bottom: 0;
			  }
	
		 }
	
