@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

@mixin newreport-page-background() {
  background-color: $layer-01;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -$spacing-06;
    top: 0;
    right: -$spacing-06;
    bottom: 0;
    background: $layer-01;
    z-index: -1;
  }
}
