# postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# minio
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# mongodb
MONGO_INITDB_DATABASE=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=