{
  "Servers": {
    "1": {
      "Name": "Incident - PostgreSQL",
      "Group": "Servers",
      "Port": 5432,
      "Host": "iars-incident-postgres",
      "SSLMode": "prefer",
      "MaintenanceDB": "incidents",
      "Username": "postgres"
    }
  }
}
